<!--
Created by IntelliJ IDEA.
User: iuliana cosmina
Date: 2020-06-20
Time: 11:24
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template/layout :: head('Account List')}"></head>

<body>
<div id="wrap">
    <div id="header" th:replace="~{template/layout :: header}" ></div>
    <div class="center_content">
        <div class="left_content" id="left_content" th:fragment="~{template/layout :: left_content}" >
            <h1 id="pagetitle" th:text="#{customer.list.title}">ALL ACCOUNTS</h1>
            <table th:if="${not #lists.isEmpty(accounts)}">
                <thead>
                <tr>
                    <th th:text="#{account.firstname}"></th>
                    <th th:text="#{account.lastname}"></th>
                    <th th:text="#{account.username}"></th>
                    <th th:text="#{account.email}"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="account : ${accounts}">
                    <tr>
                        <td th:text="${account.firstName}">FIRSTNAME</td>
                        <td th:text="${account.lastName}">LASTNAME</td>
                        <td th:text="${account.username}">USERNAME</td>
                        <td th:text="${account.emailAddress}">EMAIL</td>
                        <td>
                           <a th:href="@{'/customer/delete/' + ${account.username}}" th:text="#{label.delete}"></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="right_content" id="right_content" th:replace="~{template/layout :: right_content}" ></div>
        <div class="clear"></div>
    </div> <!-- end of center_content -->

    <div class="footer" id="footer" th:replace="~{template/layout :: footer}" ></div>
</div>
</body>
</html>

